@import './theme.scss';

.charts {
    display: flex;
    margin: $std-margin;
    padding: 4rem 0;
    overflow: auto;
    color: black;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.charts > div {
    margin: 1rem;
    padding: 0.5rem;
    background: white;
    border-radius: 5% 5% 5% 5%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}