.blobsBL {
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
}

.blobsTR {
  top: 0;
  right: 0;
  transform-origin: top right;
}

.blobsBL,
.blobsTR {
  position: absolute;
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  user-select: none;
  filter: drop-shadow(4px 4px 4px #0005);
}