@import "./theme.scss";

.nav {
    $content-height: calc($nav-height - $std-margin * 2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    justify-content: space-between;
    padding: $std-margin;
    gap: $std-margin;
    display: grid;
    grid-template-columns: $content-height 1fr $content-height;

    * {
        margin: 0px !important;
        height: $content-height;
    }

    img {
        width: $content-height;
    }

    input {
        width: 100%;
    }

    background-color: $color-bg;
}



.footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    text-align: center;
    justify-self: end;
}