@import "./theme.scss";

.login {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
    }

    a {
        color: $color-blue;
    }
}