@import "./theme.scss";

.post-info{
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-bg;
    display: flex;
    flex-direction: column;
    padding: $std-padding;
    color: #202020;
    overflow-y: auto;

    h2 {
        color: black;
    }

    .post-info-title-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .close-icon{
        transition: ease 0.1s;
        &:hover{
            transform: scale(1.1);
        }
    }
}