$white: #eff4fe;
$nav-color: #F67D51;
$nav-input-color: #EC465A;
$footer-color: #008b8b;

// Ages: 8-13
$theme-youngest: (
    "red": #EA1B2A,
    "orange": #F7881E,
    "yellow": #EBCF2B,
    "green": #0DA252,
    "blue": #7fb4da
);
// Ages: 14-17
$theme-oldest: (
    "red": #ba1924,
    "orange": #eb780d,
    "yellow": #ddbe0b,
    "green": #018a41,
    "blue": #2967d2
);